[2020-07-27 15:35] rizwansarwar opened #2 "Printing from SD Card fails"
While printing from SD Card, print stops randomly in the middle of a print causing the firmware to crash and reboot the printer. I have tried this various GCodes and slicers with same result. Printing from USB does not suffer from this issue and I have had good 12+ hours prints.

[2020-07-27 19:34] dozer123456 commented on #2
I can confirm the same. Have tried multiple slicers and SD cards.

[2020-07-28 09:20] davidtgbe commented on #2
I think slow format and high quality SD could help. You should get same results formatting through diskpart or regular windows format. Refreshing SD sectors performing a slow format may improve printings, but, it is not a reliable solution. SD card reader is too sensitive or unstable.
It needs a solution. Among things that could be related with these instabilities are clock issues, so, bus clock c

[2020-07-28 10:22] davidtgbe commented on #2
I've just commited changes with new bus clock configuration.  Testing it...

[2020-07-28 12:42] davidtgbe commented on #2
Printed cube with no problems.
Another work around if problem persists would be uncomment #DTRANSFER_CLOCK_DIV=8 line on platform.io.
Waiting for feedback.

[2020-07-28 13:39] dozer123456 commented on #2
Thanks David

Just compiling now will try printing a benchy as every time I try that with
the anet SD it fails within 10 min.

Will keep you updated.

On Tue, Jul 28, 2020 at 1:42 PM David Teran <notifications@github.com>
wrote:

[2020-07-28 14:47] dozer123456 commented on #2
Failed again but this time I made it to around 75%😫

I will uncomment the line in the plstformio.ini and try again.

[2020-07-28 15:14] Moody66 commented on #2
You mean the ANET sd card? That thing is JUNK. Literally. OR did you mean the SD slot?

[2020-07-28 15:17] dozer123456 commented on #2
Anet provided SD card 😂
And yes it probably is junk, but it worked ok-ish with the original
firmware so it probably is a good card to use to pick up any issues.

[2020-07-28 15:19] Moody66 commented on #2
I had MAJOR issues using it. First thing I did was trash it. LOL I will flash soon as I ma done working and use my Samsung.

[2020-07-28 16:18] dozer123456 commented on #2
Failed again at around the same point about 5 layers earlier this time. this is with the #DTRANSFER_CLOCK_DIV=8 uncommented DTRANSFER_CLOCK_DIV=8.

I Will try now with my Sandisk SD

[2020-07-28 18:33] dozer123456 commented on #2
Partial Success.
The benchy print finished this time, but I still got a lot of strange moves, where the printhead would leave the print then return leaving loops of filament.
The same gcode over USB prints perfect.

[2020-07-29 10:33] Moody66 commented on #2
His change looks correct to me. I base this on these two pages....

https://stm32f4-discovery.net/2015/01/properly-set-clock-speed-stm32f4xx-devices/
And
https://community.arm.com/developer/tools-software/tools/f/keil-forum/32994/changing-clock-and-pll-setting

[2020-07-29 10:50] dozer123456 commented on #2
Based on that guide pll_m should=16

Bare in mind I don't know what I am taking about 🤣

The settings did improve things a great deal. But like I said. Printing on
a freshly formatted SanDisk SD I got a couple of funny print moves that
left some funny strings outside of the print. With the same SD card plugged
into the pc and loaded into cura, printing over usb gives a perfect result
👍

On Wed, 29

[2020-07-29 11:09] davidtgbe commented on #2
@dozer123456, first of all, thank you for your tests!
pll_m has to be set to 8 because we are using external clock @8Mhz.
It seems that SDIO driver on STM32 HAL is not well tested, and might cause problems:
https://github.com/davidtgbe/Marlin/blob/f5830b82380421175145fa197654447c01cac71f/Marlin/src/HAL/STM32/Sd2Card_sdio_stm32duino.cpp#L89

[2020-07-29 12:31] dozer123456 commented on #2
@davidtgbe I really appreciate all the effort you have gone to to get this working.

Completing test prints is the easy part 👍

[2020-07-29 13:58] Moody66 commented on #2
Has Anet been helping at all?

[2020-07-29 14:24] davidtgbe commented on #2
I have changed from SDIO to SPI. It's not the best solution, but, I think it is the fastest way to solve the problem.
@Moody66 Latest conversation with Anet was last week. They kindly provided powerloss identification and were going to take a look to the bootloader.

[2020-07-29 14:26] anigmad commented on #2
Nice. Glad they are helping.  Boot loader will be nice.

On Wed, Jul 29, 2020 at 10:24 AM David Teran <notifications@github.com>
wrote:

[2020-07-29 14:37] Moody66 commented on #2
Got nothing to do at the moment. All Networks are purring along. LOL. IF it is ready to test I will compile and try it.

[2020-07-29 16:25] davidtgbe commented on #2
@Moody66 yes, it is ready. Go ahead

[2020-07-29 18:24] dozer123456 commented on #2
@davidtgbe  We have a perfect print. 😊
@Moody66  With the Anet SD card 🤣

Top job!!!!!!!!!

[2020-07-29 18:31] dozer123456 commented on #2
Oh, by the way, the Filament runout detector works great.

I will be testing the power loss shortly.

👍

[2020-07-29 18:56] 1uknowleast commented on #2
I have a rebadged Anet ET4 from LABISTS, with a ET4 1.1 board, so i'm watching the development with great interest. Great Work BTW!

Anecdotally I've seen the print head make random moves during an SD Card print, using the provided Sd Card (Samsung 8GB) and pre sliced Dog STL file. I checked the gcode online, it doesn't show that any random moves creating any funny strings.

This in on the LABISTS

[2020-07-29 19:00] dozer123456 commented on #2
Power loss did recovery didn't work.

and I had enabled it with the m413 sn 🤣

Do I need to uncomment and change //#define POWER_LOSS_PIN         44  to PA8 ?

I can see the POWER_LOSS_PIN has been set to PA8 in the pins_ET4

[2020-07-29 19:17] davidtgbe commented on #2
@dozer123456 Great. One thing less in the to-do list.
Regarding powerloss, one definition is enough. I haven't tested power loss, but, if you define power_loss_state = high instead of low (current value) , you will get a power outage error screen as soon as you start printing, so, I thought it would work...

@1uknowleast labists? First time I hear. May be only a rebranding?
Anyway, those movements

[2020-07-29 22:00] 1uknowleast commented on #2
Yes they are fairly new 3d printer maker, mostly Raspberry and Ardunio kits before, definitely a rebranding. I've only had this printer a few weeks and printed about a dozen or so items. Some via Octoprint, and some via the SD card. Only seen the issue once with the presliced gcode. However I have formatted the SD card since, so who knows.

[2020-07-30 10:29] dozer123456 commented on #2
I have been doing testing.
on power loss, a PLR file is written to the SD but it is BLANK 0 bytes.

If I change the power loss pin state to HIGH, as soon as you start the print it stops with a power loss warning message.
this will write aPLR file to the SD card, but this time it holds meaning full data.

Do you think that changing the sd card to SPI it is now not fast enough to write the file when

[2020-07-30 12:47] davidtgbe opened #3 "Power loss"
@dozer123456 wrote:

I have been doing testing.
on power loss, a PLR file is written to the SD but it is BLANK 0 bytes.

If I change the power loss pin state to HIGH, as soon as you start the print it stops with a power loss warning message.
this will write aPLR file to the SD card, but this time it holds meaning full data.

Do you think that changing the sd card to SPI it is now not fast enough t

[2020-07-30 12:56] davidtgbe commented on #3
@dozer123456 could be. I would have to debug the code to check it better, but looks like what you have suggested. Don't know if it's a matter of speed because of the SPI change, but it is simple to test: we can uncomment sdio define on pins file and test if file is filled.

[2020-07-30 15:20] dozer123456 commented on #3
@davidtgbe will check later 👍

[2020-07-30 17:06] dozer123456 commented on #3
@davidtgbe Not working in SDIO either PLR file is generated but is BLANK again.

[2020-07-30 18:00] Moody66 commented on #3
Three prints. All printed 100%.   Nice work.

[2020-07-30 18:33] davidtgbe commented on #3
@dozer123456 ok. I will take a look at the code tomorrow. It seems clear that trigger works, but, there are problems generating PRL file content under power outage conditions as you have tested.

@Moody66  good to know. I will wait a little more before closing the issue... Just in case

[2020-07-31 12:29] davidtgbe commented on #3
Seems not having enough energy to complete the process.

[code]

[2020-07-31 19:26] dozer123456 commented on #3
Any ideas on a solution? Could it write the data to eeprom ?

[2020-07-31 19:32] anigmad commented on #3
Is anet willing to share how they handled this?

On Fri, Jul 31, 2020 at 8:29 AM David Teran <notifications@github.com>
wrote:

[2020-07-31 22:23] davidtgbe commented on #3
I have to do some more tests... I have prioritize heaters shutdown code to be the first thing to be executed, maybe we could shutdown another thing or reorder code. Anyway, we always have had powerloss working without using the pin, so if it is a must have feature, you can work it out by commenting the powerloss pin definition. Only caution is taking care of SD health.

@dozer123456 I think to hav

[2020-07-31 22:25] davidtgbe commented on #2
Seems to be fixed using SPI

[2020-07-31 22:25] #2 closed, assigned to nobody

[2020-08-01 20:30] Moody66 commented on #3
Thats the problem with Marlin 2.. On 32 bit boards it uses a LOT more space.  Could even be part of the SD issue. I have read that same reason has caused issues with sd printing.

[2020-08-01 21:00] davidtgbe commented on #3
@Moody66 What do you mean? PLR info file size?

[2020-08-01 23:05] Moody66 commented on #3
https://all3dp.com/2/marlin-2-0-vs-marlin-1-differences/   Explain it well enough I guess.  There is another site that talks about SD with not a lot of memory. I will find it and post shortly    "

Despite all the improvements, Marlin 2 does have one large issue: memory consumption. When using Marlin 1, an 8-bit board’s memory allows for use of SD card support, auto-bed leveling, BLTouch support,

[2020-08-02 07:56] davidtgbe commented on #3
@Moody66  IMHO is not a matter of space. ET4 mcu has enough ram, flash, speed etc to handle everything. Every feature added to marlin does increase the final .bin file size. And, it has to fit in flash, but, in this case, we have plenty of room (1MB) to store the firmware 2 times.

I think it is a matter of firmware, drivers and stm32 framework maturity. We are working on bugfix 2.0.x branch (not

[2020-08-04 12:57] Moody66 commented on #3
Ya. done a lot of reading up last couple of days on the hardware. Seems pretty solid. They were talking about ram running short after boot. 1meg is plenty though. I run Linux on a pi with 1m. So I am sure that cant be it now. Hopefully as the development improves it will help. Thanks for all you have done.

[2020-08-09 12:46] dozer123456 opened #4 "Touch screen not functioning"
### Description

Since latest update, touch screen calibration is off

### Steps to Reproduce

1. [Switch on]
2. [touch the screen]

**Expected behavior:** [Corect function selected]

**Actual behavior:** [Unresponsive or incorrect function selected]

#### Additional Information

* Include a ZIP file containing your `Configuration.h` and `Configuration_adv.h` files.
[Configuration ET4 PRO.zip](htt

[2020-08-09 15:58] Moody66 commented on #4
Have you ran the calibration built into marlin????

[2020-08-09 17:05] dozer123456 commented on #4
@Moody66 No. How do you get to the setting, not that I could get to it anyway as when I click on the screen it is to far off.

Can you run a G code command to initialize it?

[2020-08-09 17:59] dozer123456 commented on #4
Sorted.  hold your finger on the screen for a few seconds opens up the Touch screen calibration settings.
🙈🙈🙈🙈🙈🙈🙈🙈🙈🙈🙈🙈🙈

[2020-08-09 18:30] dozer123456 commented on #4
^Needs a M500 to save the settings after a power cycle.

It is strange as it worked by default before the last set of changes.

I have noticed that there is now no orientation in the config.h file???
I will add  " #define XPT2046_ORIENTATION TOUCH_PORTRAIT" to line 2216 and see if this sorts it.

[2020-08-09 21:34] dozer123456 commented on #4
@davidtgbe
adding " #define XPT2046_ORIENTATION TOUCH_PORTRAIT" to line 2216 in the config.h fixes this

[2020-08-09 21:41] davidtgbe commented on #4
Ok, thanks @dozer123456

[2020-08-09 22:10] davidtgbe commented on #4
@doezer123456 I've added the line. Not tested, but I've done a fast search through code and couldn't find any line in code referring to XPT2046_ORIENTATION. Does this line really works for you?

[2020-08-09 22:34] dozer123456 commented on #4
@davidtgbe Yes 🤔

On Sun, 9 Aug 2020, 11:10 pm David Teran, <notifications@github.com> wrote:

[2020-08-09 22:41] dozer123456 commented on #4
@davidtgbe
![Screenshot_20200809-233854_Chrome](https://user-images.githubusercontent.com/68872229/89743295-c0570000-da99-11ea-973f-c70f88547b17.jpg)

[2020-08-10 07:40] davidtgbe commented on #4
@dozer123456  yes, I think I know what is happening. Latest merge from bugfix-2.0.0x changed some definitions, and, given the logic in:
https://github.com/davidtgbe/Marlin/blob/d0e728769568e2cedadcdae5c24a5a4a0a842f8d/Marlin/src/lcd/tft/touch.h#L49
I thought the line for TOUCH_ORIENTATION was not needed/used.
I think that, as TOUCH_ORIENTATION has changed from PORTRAIT to LANDSCAPE, X and Y calibr

[2020-08-10 13:34] dozer123456 commented on #4
@davidtgbe you are correct.

" #define XPT2046_ORIENTATION TOUCH_PORTRAIT" didn't actually work. I forgot to run a M502 to reset the EEPROM.

" X and Y calibration parameters has to be swapped." in the config.h file
I tried this and it DID NOT WORK

If you make the highlighted changes to the Marlin/Marlin/src/lcd/tft/touch.h

#if !(defined(TOUCH_CALIBRATION_X) || defined(TOUCH_CALIBRATION_Y) || de

[2020-08-10 14:56] davidtgbe commented on #4
@dozer123456 that's a good fix. Tests correct. Commiting changes.

[2020-08-10 14:56] #4 closed, assigned to nobody

[2020-08-11 16:59] 1uknowleast opened #5 "Question: Programming with a Raspberry PI"
Hi

Do you think you could program the board with a raspberry pi and STM32FLASH?

[2020-08-11 21:57] Moody66 commented on #5
https://fishpepper.de/2016/09/16/installing-using-st-link-v2-to-flash-stm32-on-linux/

[2020-08-13 09:43] davidtgbe commented on #5
@1uknowleast Yes, you can use anything that works for flashing thorugh SWD. But, for the price (clones), it's more practical to use a flahser like st-link or j-link.

[2020-08-13 09:43] #5 closed, assigned to nobody

[2020-08-30 01:55] thinkyhead commented on #3
Stability is slowly improving for STM32 frameworks and Marlin HAL, and we're at a point now of doing some cleanup.

The power-loss recovery should be functioning better, if not perfectly, in the latest (2.0.6.1) release. As always, the feature is kind of unreliable unless there's a real power-loss-detection circuit, since it tends to re-start from the beginning of the current layer and get clogged

[2020-09-09 10:24] davidtgbe commented on #3
@thinkyhead I've merged latest bugfix source code, but powerloss doesn't work either. I thinks it is a matter of  the shutdown process order (optimization) or insufficient battery capacity to perform the process. Powerloss itself does work, but ir doesn't get completed running on battery. Anyway, it is not a very important feauture.

Regarding update process... Anet update process is not the best.

[2020-09-30 11:02] SidDrP commented on #3
Hello there @davidtgbe I have been closely following your et4 marlin port. Thanks to your effort i managed everything to work without issue.
I would like to add some info on PLR function in et4. Hope it helps.
Power loss pin PA8 remains at 3.3v but goes rapidly to 1.8v or less on power failure.  Immediately Pin26 PA3 goes high(please re check) triggering mosfet through diode d14 (marked yellow) ke

[2020-09-30 11:29] davidtgbe commented on #3
@SidDrP nice analysis. Do you mean it is working for you oob with latest sources? I haven't tried since my last post in this thread.

[2020-09-30 11:40] SidDrP commented on #3
The hardware works but i don't have coding skills to make it working in marlin. I can do hardware stuff in my free time but software in nono. :(
To be honest i never felt use of PLR. (I have whole house on backup power)
But looking at code
#if !defined(POWER_LOSS_STATE) && PIN_EXISTS(POWER_LOSS)
  #define POWER_LOSS_STATE HIGH<<<<< This to low PA8
#endif
 Puts pin PA3 high and then routine to save

[2020-10-04 19:58] thinkyhead commented on #3
I've just about got an ET4 patch ready, so it should be fully supported for Marlin 2.0.7.1. If anyone has well-tuned configurations feel free to submit your improved settings over at the Configurations repository.

[2020-11-01 10:28] Sebazzz opened #10 "Anet ET4Pro configuration"
I'm trying to compile for the ET4Pro - but I probably overlooking it - but what configuration would I use?

It is mentioned in the README.md, and I know it uses TMC2208 drivers, but what about the other pinouts and bed leveling?

[2020-11-01 16:05] davidtgbe commented on #3
Tried again today. Still not working and several issues regarding power loss are opened.

[2020-11-01 16:11] davidtgbe commented on #10
@Sebazzz you will have to write your own config. There are some configuration files on config folder, but, they are user configs, and they also are a little bit outdated. You could also try easyconfig branch of this repo, which has a easyconfig.h file in which you can configure a working Marlin for your ET4 in a simple way. It is currently being tested, so you could give it a go.

[2020-11-01 16:11] #10 closed, assigned to nobody

[2020-11-01 16:46] Sebazzz commented on #10
Apologies, I didn't notice the user configs folder.

[2020-11-03 16:49] Sebazzz commented on #10
@davidtgbe I got it working using the ezconfig branch, thanks!

One question: I noticed that according to the README there is an EEPROM on the board. Were you ever able to get it activated or is there no Marlin support for this particular EEPROM?

[2020-11-03 19:57] davidtgbe commented on #10
You are welcome.
Yes there is. STM32 driver for the chip was not usable when I started this project. Maybe it is time to take it up again.

[2020-11-08 13:24] SidDrP commented on #3
@davidtgbe Can you please share how you have implemented the plr here and whats the issue. Did you used pin 26 to keep circuit energized. Thanks.

[2020-11-08 13:54] davidtgbe commented on #3
@SidDrP I have nothing to do here. Neither with software (marlin) nor with hardware (anet). Sorry.

[2020-11-08 15:30] SidDrP commented on #3
@davidtgbe I did some experiments with plr with almost success last weekend (eeprom save is still work in progress). I didn't followed through due to shortage of time. Also i don't think plr is useful for me as i do most prints in ABS on glass bed. Thought you might like to know but as you said "I have nothing to do here." so thanks for your time.

[2020-11-08 16:02] davidtgbe commented on #3
@SidDrP I do not use PLR either, but I am to help and of course I am interested in any solution to the problem, like any other user of the ET. My intention was to convey that I have not implemented neither the software nor the hardware parts, and that, to be honest, I have not done many tests. I have done nothing more than define the plr pin, as you would have read through this thread. That's all.

[2020-12-14 17:51] ishapiro opened #11 "ANET ABL Support in this Build"
This issue was prematurely posted as this is really a documentation issue and not a code issue.  Please delete this issue.

[2020-12-15 23:51] #11 closed, assigned to nobody

[2020-12-15 23:52] ishapiro commented on #11
This issue ends up being a documentation issue and I should not have opened it.  Sorry for creating noise in the github.

[2020-12-22 12:16] Zhiniukas commented on #3
I got PLR working on my Anet ET4+.
Changes made:
In file pins_ET4.h pin for backup super capacitor is defined:   #define POWER_LOSS_PIN2                   PA3

In file powerloss.cpp, changes are here:
https://github.com/Zhiniukas/Marlin/blob/bugfix-2.0.x/Marlin/src/feature/powerloss.cpp

Now PLR works OK. On power loss plr file is created on SD card and printing resumes after the power is back. Or

[2020-12-22 12:36] davidtgbe commented on #3
@Zhiniukas Great! So there are 2 changes there:
- PA3 pin (as @SidDrP commented) to turn on SuperCap after a power outage.
- An SDCard bug fix (release and remount)
I will try these fixes, and, will merge those changes. Or if you want, do a PR (as you prefer).

[2020-12-22 12:52] Zhiniukas commented on #3
@davidtgbe Yes, you are right.
I made 2 major changes as you noticed. Also I changed resume procedure, allowing hot end heating before priming the extruder.

Please do changes yourself, as I am new to github. :)

[2020-12-23 09:06] davidtgbe commented on #3
@Zhiniukas Yes I also noticed you have swapped the hotend heating and volumetric extrusion state block code.
However... taking a look at code and Marlin help, it seems setting volumetric state doesn't prime the extruder (it is a M200 command), but I have not tried by myself...
Purge seems to be performed on line commented as "//Additional purge if configured" related with parameter POWER_LOSS_PURG

[2020-12-24 05:42] Zhiniukas commented on #3
@davidtgbe I checked my code again.
The change for heaters before volumetric extruder is not mandatory. Leave it as it is in original version.

Differences in my working code - I do not use   "#ifdef POWER_LOSS_PIN2" before setting pin2 high. I just set pin2 to desired state. Comment this check and test power loss. Also if you comment this line
OUT_WRITE(POWER_LOSS_PIN2, LOW);
 you should see "Pri

[2020-12-25 13:27] fizi1234 commented on #3
work well wtih this Changes made:
In file pins_ET4.h pin for backup super capacitor is defined: #define POWER_LOSS_PIN2 PA3

In file powerloss.cpp, changes are here:
https://github.com/Zhiniukas/Marlin/blob/bugfix-2.0.x/Marlin/src/feature/powerloss.cpp

[2020-12-30 16:51] davidtgbe commented on #3
@Zhiniukas,
Sorry, I haven't had much time to test it again. I just ran a couple of tests and it seems to be going very well. Very good work. I think we can close this issue.

[2020-12-30 16:51] #3 closed, assigned to nobody

[2021-01-07 06:52] muhla89 opened #12 "Power Loses recovery dont work on ET5 PRO"
hello, i still have a problem with the bugfix. The problem is that in the event of a power failure, the printing no longer starts despite the setting being activated in the confic adv. I have already switched from false to true and also excluded the ARC but still no function does someone still have the same problem or the solution for it?

I did it according to these instructions

https://youtu.be

[2021-01-08 13:43] davidtgbe commented on #12
@muhla89 could you please try with @Zhiniukas fork? https://github.com/Zhiniukas/Marlin/
I have merged his changes, but try it and tell me if it works for you.

[2021-01-08 14:02] muhla89 commented on #12
I have found the Problem

[2021-01-08 19:01] davidtgbe commented on #12
@muhla89 is it a problem with your printer or with the code. Could you detail your problem/solution?

[2021-01-08 20:12] muhla89 commented on #12
With the Code

the problem was that after a power failure the printing no longer went on now, after adjusting the code, it no longer does it and then continues printing where it left off

[2021-01-08 20:41] davidtgbe commented on #12
@muhla89 Could you make a PR or share your fix with us?

[2021-01-09 08:28] muhla89 commented on #12
Yes thats the fix

[2021-01-09 09:39] davidtgbe commented on #12
@muhla89 which fix? You said that after adjusting the code it works for you. Could you be a little more detailed on the steps you have performed to fix your problem?

[2021-01-09 11:21] muhla89 commented on #12
is difficult to describe, I looked for the values ​​from several pieces of information and adjusted them then it still didn't work because he had an error with powerloss with the UltraLCD then I told him that he should get the data from the marlinui.h and that's it it went

[2021-01-09 12:53] davidtgbe commented on #12
@muhla89 ok. Then you can do this:
-ZIP the whole marlin folder you have fixed and upload the Zip file to https://wetransfer.com/upload for example, and share here the link or share it with me through telegram. My user is @davidtgbe.
-Tell me if you have fixed code on top of Zhiniukas fork or directly to my fork

Thanks

[2021-01-11 22:12] davidtgbe commented on #12
@muhla89 should I keep the issue open until you post your code or may be more info or should I close it?

[2021-01-11 23:23] chepo92 opened #13 "Wiring for flashing with STlink V2?"
@davidtgbe
Which is the wiring to upload and flash the bootloader with STlink V2?
I see the marks V (or U) and G on the board (I guess that is the SWIO header), assuming they are Vcc (guess connect it to 3.3v and not 5V), G to GND, but what about the rest?
If it is as the bluepill it should be Vcc, DIO, CLK and GNG (U-G)

[2021-01-12 09:50] muhla89 commented on #13
G, Swdio , swclk

[2021-01-12 11:54] chepo92 commented on #13
https://github.com/MarlinFirmware/Configurations/tree/import-2.0.x/config/examples/Anet/ET5X

SWD Header on ET Series motherboard
[code]

[2021-01-12 11:54] #13 closed, assigned to nobody

[2021-01-12 17:57] #12 closed, assigned to nobody

[2021-03-02 12:38] ArcAIN6 opened #14 "Feature Request BL_Touch for ET4X?"
Not too sure what, if any, differences there are between mainboards, and the breakout board of the ET4 and ET4X.

Looking over the steps of trying to add a BLtouch sensor to the ET4X i have by looking through this guide, and the marlin you've posted here, and it appears there's no support as of yet, for adding a BLtouch probe to the ET4X.

Is it possible to do so? And if so, what would i need to c

[2021-03-02 18:29] svicens opened #15 "Usb conectivity problem"
I'am having dificulties to connect anet et4 to pc via usb after flashing bugfix-2.0.x. All seams to work fine, but, when I connect the 3d printer to the pc(I tried 3 diferent pc with win10os) the usual sound of usb pluging in sounds, in the devices screen, you can se the 3d printer as COM3, but when you try to connect it to i.e. MatterControl, I am unable to connect it, an error pops up(System.IO.

[2021-03-02 19:24] #15 closed, assigned to nobody

[2021-03-02 19:24] svicens commented on #15
See edit.

[2021-03-09 10:31] davidtgbe commented on #14
Yes, it is possible. Easyconfig allows enabling both bltouch and ET4X. Just read carefully instructions on easyconfig and follow the bltouch tutorial. You can also ask on telegram anetet4esp telegram group.

[2021-03-09 10:31] #14 closed, assigned to nobody

[2021-03-23 10:37] ArcAIN6 opened #16 "How do i build this for the ET4X?"
Trying to build this for ET4X, yet it keeps building for ET4, and i'm unsure why.

In easyconfig.h, i set ET_MODEL to ET_MODEL_ET4X
Built the project, flashed the firmware, it comes up showing ET4, not ET4X, and homes in the wrong direction.

Looked over EasyConfig again, and changed the direction it homes to down, but still, it want's to home upwards.

Am i missing something here?

[2021-03-23 11:20] davidtgbe commented on #16
@ArcAIN6 This is not an issue. You only have to follow readme and easyconfig instructions.
https://github.com/davidtgbe/Marlin/blob/5b73b5dc17f349debca18b5663e7dab8f18583d2/Marlin/EasyConfig.h#L39

[2021-03-23 11:21] #16 closed, assigned to nobody

[2021-04-13 17:23] tutulino opened #17 "Z-Offset no funciona"
Hola, ante todo agradecerte el trabajo realizado y un tirón de orejas a Anet por cutres y rastreros....

Acabo de compilar y instalar una versión con bootloader incluida, todo parece funcionar bien (a falta de mas pruebas) excepto que el Z-offset no afecta a la altura de impresión, da igual con que valor empiezas la impresión, siempre comienza a la misma altura.
Si se activa el babystepping este s

[2021-04-14 20:06] tutulino commented on #17
Añado información: he probado a cambiar el sensor del eje Z a la parte inferior y ocurre lo mismo, la impresión no comienza con el offset asignado.

[2021-04-26 12:25] davidtgbe commented on #17
Hola @tutulino,
no sé que decirte, yo lo estoy usando sin problema. Usa el M851 y asegúrate de guardar el valor con un M500. Puedes comprobar si se aplica con un M503.
https://github.com/davidtgbe/Marlin/blob/d936018fcafef1dcc0103224e9e4e03cf16606c2/Marlin/EasyConfig.h#L158
Prueba a ver y me comentas, ya que soy consciente de que se usa y nadie más ha reportado fallos.

[2021-04-26 17:23] tutulino commented on #17
¿Una duda, la tuya es ET4 o ET4 pro? ¿con sensor de calibrado original o con bltouch?. (En mi caso ET4 con el sensor chusquero original)

He probado de todas las maneras posibles y aunque el valor se guarda y la siguiente vez incluso en el menú partes de esa altura a la hora de la verdad empieza siempre a imprimir a la misma altura.

Creo que esta relacionado con el NOZZLE_AS_PROBE y que marlin en

[2021-04-26 17:34] davidtgbe commented on #17
Yo tengo la ET4 con placa silenciosa + BMG + BLTOUCH. El NOZZLE_TO_PROBE_OFFSET no tiene sentido si tu sonda es la de la ET4 normal. No hay offset, ya que la sonda y el nozzle están en la misma posición. El M851 en tu caso no sirve para nada.
Que valor es el que estás cambiando? De todas formas, pásate por el Telegram de la ET4. Allí hay gente que te echará una mano en tiempo real. Yo últimamente

[2021-04-26 18:02] tutulino commented on #17
Con la sonda original no hay offset en X e Y como dices pero si en Z ya que hay el offset que provoca la propia sonda que suele ser muy poco, pero algo es. Antes de abrir la incidencia estuve buscando por el grupo de Telegram, pero lo único que encontré era gente que le pasaba lo mismo, consultaban y nadie respondía.

El problema es con el M851, el babystep funciona bien si lo activas y se acumula

[2021-04-27 16:36] davidtgbe commented on #17
Puede que sea así. Prueba a definirlo como sonda capacitiva (fix_mounted_probe) o si usas easyconfig ET_LV_MOUNTED_PROBE. A fin de cuentas, el pin es el mismo. Deja los offset X e Y a 0 y varia el Z a ver si te funciona asi.

Como estas haciendo los babysteps?

Mencioname por telegram en el grupo y lo discutimos cuando quieras.

[2021-05-07 14:29] #17 closed, assigned to nobody

[2021-06-03 10:00] Asxetos21 opened #19 "Howto compile for an Anet ET4-Pro?"
This is not an issue (sorry), but i hope i get a solid answer on the way to proceed.

What needs to be done (config-wise) to compile for an Anet ET4-Pro?

1. Simply editing EasyConfig.h on this repo for the printer model is enough? (so the rest of the config files read this and auto-set everything?) Or do Configuration.h and Configuration_adv.h need adjusting also?

2. Using the configuration exam

[2021-06-26 14:17] manotroll opened #20 "et5 update"
this marlin is being updated with the main one?
or can i get the settings here and use in the main marlin?
Warning! Ignore unknown configuration option `board_build.offset` in section [platformio]

[2021-06-26 22:35] davidtgbe commented on #19
1.You can just use easyconfig. It will work. Just read instructions on easyconfig file.
Aditionally, you can change advanced parameters in configuration.h and configuraron_adv.h to better fit your needings. Just make sure these parameters are not listed at the bottom of the easyconfig file (listed as overwritten parameters).
2. User configs folder is outdated. It is just the contribution of some u

[2021-06-26 22:45] davidtgbe commented on #20
I "regularly" merge main branch changes in this fork (using bugfix 2.0.x). But, I only do it if some interesting feature (from my pov) has been  added. You can take what you want from this fork, and do whatever mix you want. That's what opensource is about.

I don't get you with the warning about the board build offset, sorry. Could you be more detailed?

[2021-06-26 22:52] manotroll commented on #20
in platformio.ini file does not have offset to allow constant update by openblt
I don't know how to take a part of the code and use it in the official version and I don't know what changes from there to here either.

[2021-06-26 23:07] davidtgbe commented on #20
@manotroll, platform.ini has been split some time ago. Read point 1.3 of the readme.md carefully:

[code]

Regarding the other question, If you don't know how to do it, just stick with one of the marlin forks (this, or another) or use the main marlin branch. I can't help you here with that, sorry.

[2021-06-27 02:04] manotroll commented on #20
it's elsewhere in the tutorials I've seen don't have this comment

[2021-06-27 08:37] davidtgbe commented on #20
I think readme.md is the only place where bootloader instructions are described. But, if you point me to the place you have seen it, I will be pleased to correct it.

[2021-06-27 12:29] manotroll commented on #20
another doubt I saw that you commented that the example files are not valid do you know where I can find these files?

[2021-06-27 14:46] davidtgbe commented on #20
If you mean where the path to those outdated files are: https://github.com/davidtgbe/Marlin/tree/bugfix-2.0.x/config/users%20configs
If you are looking for help on configuring your config files,  try on marlin forums and web page, anet FB groups, or telegram: https://t.me/anetet4esp

Just google it.

[2021-06-27 14:46] #20 closed, assigned to nobody

[2021-07-03 00:31] Ghrem opened #21 "USB disconnection"
USB disconnects constantly during printing when printing from Octoprint or even just being connected and having it print from SD, without having the safety timer on print head movement enabled it WILL stay heated on the part in last position of movement. I've tried multiple things to remedy it, but it persists. I'm wondering if it's related to https://github.com/MarlinFirmware/Marlin/pull/19671

E

[2021-07-06 08:10] davidtgbe commented on #21
AFAIK, no one else is having problems with Octoprint/USB. I do use Octoprint indeed. Try using Anet stock FW to discard a HW issue.

[2021-07-06 08:10] #19 closed, assigned to nobody

[2021-07-07 00:35] manotroll opened #22 "screen calibration failed et5"
calibration start fails when pressing the screen to start calibration he always press the top left.
is there any way to disable the 1 touch so that it doesn't enter automatically?

[2021-07-07 17:52] davidtgbe commented on #22
Drop your comments here
https://github.com/MarlinFirmware/Marlin/issues/21860

[2021-07-07 17:53] #22 closed, assigned to nobody

[2021-08-01 21:22] manotroll opened #23 "serial pin error when compiling for drivers TMC2208"
when trying to compile for TMC2208 drivers get this error

In file included from Marlin\src\HAL\STM32\../../inc/MarlinConfig.h:49,
                 from Marlin\src\HAL\STM32\HAL.cpp:28:
Marlin\src\HAL\STM32\../../inc/SanityCheck.h:2502:4: error: #error "TMC2208 or TMC2209 on X requires X_HARDWARE_SERIAL or X_SERIAL_(RX|TX)_PIN."
 2502 |   #error "TMC2208 or TMC2209 on X requires X_HARDWARE_SERIAL

[2021-08-02 22:51] #21 closed, assigned to nobody

[2021-08-19 15:26] davidtgbe commented on #23
Tmc2208 is for using with uart which is not supported.
You have to use TMC2208_standalone

[2021-08-19 15:26] #23 closed, assigned to nobody

[2021-08-30 19:03] santiis2010 opened #24 "G29, M48 and Easyconfig not working"
### Description

When i flash the firmware using easyconfig.h and Visual Studio Code, the firmware compiles without any issue, so i coppy all the files to the SD but im having this problems, G29 getting out of bound error, stepper motors not changing to silent (i have ET4P silent board for my ET5) if i do a M206 to fix the X and Y Min for example Y its already -15 i want it to be -22 so i put on p

[2021-09-01 11:16] davidtgbe commented on #24
Hello Santiago,
should be working fine. If you edit with VS CODE Marlin\src\inc\EasyConfigPost.h, you can check which parameters are currently used (light font style) and unused (shadow/greyed out font style) as in the screen capture below using your config files:
https://github.com/davidtgbe/Marlin/blob/a6c0bcb42a9162d8f63363420b17a42b6700fbd7/Marlin/src/inc/EasyConfigPost.h

![image](https://use

[2021-09-01 16:15] santiis2010 commented on #24
So i did al this, the only things i changed on easyconfigpost.h was the offset of the bed and X axis (X-3 and Y-22) and the steps from E0 to 98..68 i moved the extruder to direct drive.

(its ok if i can write in spanish?)

So i compiled everything, formated a 8GB card (not the one that came with the printer), inserted the micro SD card on the printer, so BTL started to update the firmware.

I con

[2021-09-01 16:54] davidtgbe commented on #24
OK

Aquí un par de cosas:
- M502 para borrar, después el M851 para establecer la distancia entre la punta de sondeo y la punta del hotend y por último, el M500 para guardar, ese es el orden.
- Si has puesto Z0 es que tienes la sonda a la misma altura que el hotend? Esto me parece raro... No es lo normal. Lo normal es tener la sonda por encima del hotend. Puedes ver este video para usar el asistent

[2021-09-10 15:17] davidtgbe commented on #24
Hola Santiago, al final, diste con el problema? Si es así, por saberlo y cerrar el hilo, y sino, para intentar solventar el bug entre los dos.

[2021-09-10 16:03] santiis2010 commented on #24
Hola David, justo te iba a responder y vi mensaje, lleve la impresora al Service de Anet en Uruguay, resulta que en un momento el sensor ya ni funcionaba, me dijeron que el sensor está roto, y también se "jodió" algo en la placa porque no detecta si le pones un sensor nuevo, de momento le tendré que poner un endstop, vos sabés algún esquema donde pueda ver qué componentes en la placa manejan el se

[2021-09-11 22:04] davidtgbe commented on #24
Siento lo de la placa...
Que yo sepa no hay un esquema tan detallado Santiago. Tendrías que seguir tu mismo las pistas en el PCB e ir comprobando que todo está en orden con ayuda de un multimetro.

[2021-09-11 22:04] #24 closed, assigned to nobody

[2021-09-13 20:52] santiis2010 commented on #24
Si sabes que seguí las pistas pero es raro, el hotend y la cama me dan
temperaturas de 58 y 62 grados como de ambiente, por lo tanto debe estar
jodida alguna resistencia, y algún smd del sensor de nivelación, hablé con
anet y hay escasez de chips 😕 por lo que no tienen placas silenciosas, voy
a ver si escribiéndoles a ellos me pasarían un esquema porque las pistas no
están muy claras en la olaca,

[2021-12-29 05:12] yesilikeanything opened #25 "hi sir, im trying to boot the marlin into my anet et4 with openblt, but heres the thing. I cannot find the .srec file. Is there any other method i can follow?"
### Description

### Steps to Reproduce

1. [First Step]
2. [Second Step]
3. [and so on...]

**Expected behavior:** [What you expect to happen]

**Actual behavior:** [What actually happens]

#### Additional Information

* Include a ZIP file containing your `Configuration.h` and `Configuration_adv.h` files.
* Provide pictures or links to videos that clearly demonstrate the issue.
* See [How Can I C

[2022-01-05 09:32] davidtgbe commented on #25
No, there is no other method. Read and follow tutorials and videos. There are plenty of them.

[2022-01-05 09:32] #25 closed, assigned to nobody

[2022-02-02 21:06] ricmm71 opened #26 "Error de lectura de XPT2046 y mejora del filtrado."
### Description

La lectura de los valores en bruto del XPT2046 que se realiza en XPT2046::getRawData() parece que es incorrecta: se realiza en dos lecturas SPI, tomando 8 bits de la primera y 4 de la segunda. Pero según la hoja de especificaciones del chip y de otras librerías que hay por ahí, se debn coger 7 bits de la primera lectura y los 5 restantes de la segunda (lecturas SPI que devuelvan 8

[2022-02-02 21:21] ricmm71 opened #27 "Posible corrección del problema de la activación de la calibración desde la propia pantalla táctil"
### Description

https://github.com/MarlinFirmware/Marlin/issues/21860

El problema parece estar relacionado con que al borrar la pantalla se hace un reset del módulo que gestiona la pantalla táctil. Una manera simple que lo corrige, pero que es posible tenga otros efectos colaterales (que no he observado), es simplemente eliminado en el fichero "Marlin/Marlin/src/lcd/tft/ui_common.cpp" la línea 2

[2022-03-15 08:13] tungbuivn opened #28 "deprecated definition Z_PROBE_SPEED_SLOW"
### Description
the declare Z_PROBE_SPEED_SLOW in the anet et4x has ineffect, it has been replaced in the bugfix branch. Here is the source from Marlin\src\inc\SanityCheck.h
![image](https://user-images.githubusercontent.com/2397798/158333685-8b947f71-962b-4a7e-b67e-7d22849b6d06.png)

the source line from configuration.h of anet et4x
#define Z_PROBE_SPEED_SLOW (Z_PROBE_SPEED_FAST / 4)
should be re

[2022-05-11 16:58] davidtgbe commented on #28
Updated

[2022-05-11 16:58] #28 closed, assigned to nobody

[2022-05-11 17:01] davidtgbe commented on #27
Hola @ricmm71, muchas gracias por solución! y perdona por la tardanza. He tenido unas cuantas cosas entre manos y no he tocado la impresora.
He añadido touch.clear() y parece que va bien. No lo he probado extensivamente pero el problema queda resuelto aparentemente sin romper ninguna otra cosa.

[2022-05-11 17:01] #27 closed, assigned to nobody

[2022-05-11 17:08] davidtgbe commented on #26
Hola de nuevo @ricmm7. He mirado por encima las librerías del XPT2046 y no he visto nada al respecto sobre lo del shifting de bits (ya digo que no he mirado mucho), pero igualmente, he probado tu código y funciona bien. Me parece que has hecho un análisis extensivo del problema y has dado con una solución.
He tenido que quitar las calibraciones preestablecidas que metía ya en configuración para la

[2022-05-12 14:56] ricmm71 commented on #26
Hola, David:
    Sólo modifiqué la lectura en bruto de las medidas, getRawData(), y el método que devuelve un punto completo, getRawPoint(). Y aunque son independientes del tamaño de la pantalla asociada o de su orientación, al devolver valores diferentes hay que ajustar los valores predeterminados usados en la configuración.

    Como referencia para revisar la lectura de los valores en bruto se

[2022-05-13 07:56] davidtgbe commented on #26
Correcto @ricmm71. Muchas gracias por la aclaración y por tu aporte.

[2022-05-13 07:56] #26 closed, assigned to nobody

[2022-05-17 15:54] ricmm71 commented on #26
Muchas gracias a ti, David!!